<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="header-section ion-text-center ion-margin-bottom">
      <h2>Bem-vindo de volta!</h2>
      <p>Entre na sua conta para continuar</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Usuário</ion-label>
          <ion-input type="text" formControlName="username" placeholder="Seu nome de usuário"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Sua senha"></ion-input>
        </ion-item>
      </ion-list>

      <div *ngIf="errorMessage" class="ion-padding-top ion-text-center">
        <ion-text color="danger">
          <p>{{ errorMessage }}</p>
        </ion-text>
      </div>

      <div class="ion-padding-top">
        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
          Acessar
        </ion-button>
      </div>
    </form>

    <div class="ion-margin-top ion-text-center">
      <p>Não tem uma conta? <a [routerLink]="['/registro']">Cadastre-se</a></p>
    </div>
  </div>
</ion-content>
